{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script>
  function redeemPoints({ customerId }) {
    return fetch(
      `{{settings['loyalty-points-server-URL']}}/redeemPoints/${customerId}`,
      {
        method: 'GET', // or 'POST', 'PUT', etc., depending on the API
        headers: {
          'Content-Type': 'application/json',
          'ngrok-skip-browser-warning': '1',
        },
      }
    )
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`)
        }
        return response.json() // Parse JSON response
      })
      .then((data) => {
        return data
      })
  }
</script>

<div
  class="gradient color-{{ section.settings.color_scheme }}{% if cart == empty %} is-empty{% endif %}"
  id="main-cart-footer"
  data-id="{{ section.id }}"
  x-data="
    {
      {% if customer and cart.item_count != 0 %}
        customerId: {{customer.id}} ,
        customerPoints: {{- customer.metafields.custom.points -}},
      {% endif %}
      errorMessage:'',
      isLoading: false,
      messageToShow: '',
      isPromoCodeEnabled:  {{ settings["enable-promo-code"] }},
      isPromoCodeRequired: {{ settings["is-promo-code-required"] }},
      isPromoCodeAutoFilled:  {{ settings["is-promo-code-auto-filled"] }},
      isLoyaltyPointsEnabled: {{ settings['enable-loyalty-points'] }},
      promoCodeContent: ''
    }
  "
>
  <div class="page-width">
    {% if settings['enable-loyalty-points'] %}
      {% if customer and cart.item_count != 0 %}
        <div class="py-2">
          <p class="text-[2rem]">
            Your total points are:
            <span
              x-text="customerPoints"
              class="text-[2.2rem] font-semibold rounded-md px-2 py-1"
            >
            </span>
          </p>
          <div
            x-show="messageToShow"
            x-html="messageToShow"
          ></div>
          <p x-text="errorMessage" class="text-red-600 text-[14px]"></p>
          <button
            x-on:click="
              async () => {
                try {
                  errorMessage=''
                  messageToShow=''
                  isLoading = true
                  const { giftCardCode } = await redeemPoints({customerId})
                  customerPoints = 0
                  messageToShow = `<p>gift card code: ${giftCardCode}</p> <p class='text-[14px] text-green-600'>copied to your clipboard</p>`
                  navigator.clipboard.writeText(giftCardCode)
                  isLoading = false
                  }catch(err) {
                  isLoading = false
                  console.log({err})
                  errorMessage = 'something went wrong, please contact us to figure it out, or try again later'
                }
              }
            "
            class="button mt-2"
            x-bind:disabled="customerPoints === 0"
          >
            Redeem Points
          </button>
        </div>
      {% endif %}
    {% endif %}
    <div
      x-show="isLoading"
      id="redeemPointsLoader"
      class="w-screen h-screen fixed top-0 start-0 z-[1000] bg-[#12121244] flex items-center justify-center"
    >
      <div class="CSSloader text-transparent">1</div>
    </div>
    <div class="items-end cart__footer isolate section-{{ section.id }}-padding">
      <div class="flex flex-col gap-6">
        {% if settings['enable-promo-code'] %}
          <div class="">
            <div class="flex items-center">
              <p>Promo Code</p>
              <span x-show="isPromoCodeRequired" class="text-red-500">*</span>
            </div>
            <input
              x-bind:disabled="isPromoCodeAutoFilled"
              class="disabled:cursor-not-allowed disabled:bg-gray-100 w-full outline-none border border-black p-2 mt-2 rounded-md"
              id="promo-code-field"
              form="cart"
              x-model="promoCodeContent"
            >
            <input
              hidden
              form="cart"
              name="attributes[promo_code]"
              :value="promoCodeContent"
            >
          </div>
        {% endif %}

        {%- if settings.show_cart_note -%}
          <cart-note class="cart__note field">
            <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
            <textarea
              class="text-area field__input"
              name="note"
              form="cart"
              id="Cart-note"
              placeholder="{{ 'sections.cart.note' | t }}"
            >{{ cart.note }}</textarea>
          </cart-note>
        {%- endif -%}
      </div>

      <div class="cart__blocks">
        {% for block in section.blocks %}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'subtotal' -%}
              <div class="js-contents" {{ block.shopify_attributes }}>
                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul
                      class="discounts list-unstyled"
                      role="list"
                      aria-label="{{ 'customer.order.discount' | t }}"
                    >
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <div class="totals">
                  <h2 class="totals__total">
                    {{ 'sections.cart.estimated_total' | t }}
                  </h2>
                  <p class="totals__total-value">
                    {{ cart.total_price | money_with_currency }}
                  </p>
                </div>

                <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included
                    and shop.shipping_policy.body != blank
                  -%}
                    {{
                      'sections.cart.taxes_included_and_shipping_policy_html'
                      | t: link: shop.shipping_policy.url
                    }}
                  {%- elsif cart.taxes_included -%}
                    {{
                      'sections.cart.taxes_included_but_shipping_at_checkout'
                      | t
                    }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{
                      'sections.cart.taxes_and_shipping_policy_at_checkout_html'
                      | t: link: shop.shipping_policy.url
                    }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </small>
              </div>
            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button
                    type="submit"
                    class="cart__update-button button button--secondary"
                    form="cart"
                  >
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button
                  type="submit"
                  id="checkout"
                  class="cart__checkout-button button"
                  name="checkout"
                  x-bind:disabled="isPromoCodeEnabled && isPromoCodeRequired && !promoCodeContent"
                  form="cart"
                >
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
          {%- endcase -%}
        {% endfor %}

        <div id="cart-errors"></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function getPromoCode() {
      const promoData = JSON.parse(localStorage.getItem('promoCode'))

      if (!promoData) {
        console.log('No promo code found.')
        return null
      }

      const now = new Date().getTime() // Current time in milliseconds

      if (now > promoData.expiresAt) {
        // Promo code has expired, remove it
        localStorage.removeItem('promoCode')
        console.log('Promo code expired and has been removed.')
        return null
      }

      console.log(`Promo code retrieved: ${promoData.value}`)
      return promoData.value // Return the valid promo code
    }
    const storedPromoCode = getPromoCode()
    const alpineDataContainer = document.querySelector('#main-cart-footer')
    if (storedPromoCode) {
      Alpine.$data(alpineDataContainer).promoCodeContent = storedPromoCode
    }

    function isIE() {
      const ua = window.navigator.userAgent
      const msie = ua.indexOf('MSIE ')
      const trident = ua.indexOf('Trident/')

      return msie > 0 || trident > 0
    }

    if (!isIE()) return
    const cartSubmitInput = document.createElement('input')
    cartSubmitInput.setAttribute('name', 'checkout')
    cartSubmitInput.setAttribute('type', 'hidden')
    document.querySelector('#cart').appendChild(cartSubmitInput)
    document
      .querySelector('#checkout')
      .addEventListener('click', function (event) {
        document.querySelector('#cart').submit()
      })
  })
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
