{% comment %}
  Renders a list of product's price (regular, sale)
  Updated to show price in compact format with AED currency

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money_without_currency
  assign money_price_min = price_min | money_without_currency
  assign money_price_max = price_max | money_without_currency

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

<div
  class="
    price
    {%- if price_class %} {{ price_class }}{% endif -%}
    {%- if available == false %} price--sold-out{% endif -%}
    {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale{% endif -%}
    {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
    {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
    {%- if show_badges %} price--show-badge{% endif -%}
  "
>
  <div class="price__container flex items-center">
    {%- comment -%}
      Explanation of description list:
        - div.price__regular: Displayed when there are no variants on sale
        - div.price__sale: Displayed when a variant is a sale
    {%- endcomment -%}
    {%- if compare_at_price > price -%}
      {%- comment -%} On sale price display {%- endcomment -%}
      <div class="price__sale">
        <span class="visually-hidden">
          {{- 'products.product.price.regular_price' | t -}}
        </span>
        <span class="price-item price-item--sale price-item--last text-[#01A89E] !flex gap-px !-mb-[8px]">
          <span class="text-[1.25rem] font-bold md:text-[1.75rem]">
            {{- money_price | split: '.' | first -}}
          </span>
          <span class="flex flex-col text-[8px] md:text-[10px] gap-1 -mt-0.5">
            <span class=" font-bold leading-[10px]"
              >.{{ money_price | split: '.' | last -}}
            </span>
            <span class=" font-medium leading-[10px]">AED</span>
          </span>
        </span>
        {%- unless product.price_varies == false
          and product.compare_at_price_varies
        -%}
          <span class="visually-hidden">
            {{- 'products.product.price.sale_price' | t -}}
          </span>
          <span class="price-item price-item--regular !text-[10px] text-gray-500">
            {{- compare_at_price | money_with_currency -}}
          </span>
        {%- endunless -%}
      </div>
    {%- else -%}
      {%- comment -%} Regular price display {%- endcomment -%}
      <div class="price__regular">
        {%- if product.quantity_price_breaks_configured? -%}
          <span class="visually-hidden">
            {{- 'products.product.price.regular_price' | t -}}
          </span>
          <span class="price-item price-item--regular  text-[#01A89E] !flex gap-px">
            <span class="text-lg font-bold md:text-xl">
              {{- money_price_min | split: '.' | first -}}
            </span>
            <span class="flex flex-col text-[8px] md:text-[10px] gap-1">
              <span class=" font-bold leading-[10px]"
                >.{{ money_price_min | split: '.' | last -}}
              </span>
              <span class=" font-medium leading-[10px]">AED</span>
            </span>
            -
            <span class="text-lg font-bold md:text-xl">
              {{- money_price_max | split: '.' | first -}}
            </span>
            <span class="flex flex-col m-px">
              <span class="text-[10px] font-bold leading-[10px]"
                >.{{ money_price_max | split: '.' | last -}}
              </span>
              <span class="text-[10px] font-medium leading-[10px]">AED</span>
            </span>
          </span>
        {%- else -%}
          <span class="visually-hidden">
            {{- 'products.product.price.regular_price' | t -}}
          </span>
          <span class="price-item price-item--sale price-item--last text-[#01A89E] !flex gap-px">
            {% assign money_helper_text = money_price | split: ' ' | first %}
            {% assign digits = '0,1,2,3,4,5,6,7,8,9,٠,١,٢,٣,٤,٥,٦,٧,٨,٩'
              | split: ','
            %}
            {% assign show_helper = true %}

            {% for digit in digits %}
              {% if money_helper_text contains digit %}
                {% assign show_helper = false %}
              {% endif %}
            {% endfor %}

            {% if show_helper %}
              <span class="text-[1.25rem] font-bold md:text-[1.75rem] me-1">
                {{- money_helper_text -}}
              </span>
            {% endif %}
            {% assign money_main_digits = money_price | split: ' ' | last %}
            <span dir="ltr" class="flex gap-0.5">
              <span class="text-[1.25rem] font-bold md:text-[1.75rem]">
                {{- money_main_digits | split: '.' | first -}}
              </span>
              <span class="flex flex-col text-[8px] md:text-[10px] gap-1 -mt-0.5">
                <span class=" font-bold leading-[10px]">
                  .{{ money_price | split: '.' | last -}}
                </span>
                <span class=" font-medium leading-[10px]">AED</span>
              </span>
            </span>
          </span>
        {%- endif -%}
      </div>
    {%- endif -%}

    <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %} mt-1 ms-1 text-xs text-gray-500">
      <span class="visually-hidden">
        {{- 'products.product.price.unit_price' | t -}}
      </span>
      <span class="price-item price-item--last">
        {{ product.selected_or_first_available_variant.unit_price | money }}/
        {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value
            != 1
        -%}
          {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
        {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
      </span>
    </small>
  </div>
  {%- if show_badges -%}
    <div class="mt-1">
      {%- if compare_at_price > price -%}
        <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }} text-xs px-2 py-1 rounded-full">
          {{ 'products.product.on_sale' | t }}
        </span>
      {%- endif -%}
      {%- unless available -%}
        <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }} text-xs px-2 py-1 rounded-full">
          {{ 'products.product.sold_out' | t }}
        </span>
      {%- endunless -%}
    </div>
  {%- endif -%}
</div>
